<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229514994004-avjnngde121a1kpomlpgrdlriem68qlh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229514994004-avjnngde121a1kpomlpgrdlriem68qlh</string>
	<key>API_KEY</key>
	<string>AIzaSyBxq7XsUWves4dnKQT3tW1osoQZvMupCv0</string>
	<key>GCM_SENDER_ID</key>
	<string>229514994004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vixz.findamentor</string>
	<key>PROJECT_ID</key>
	<string>find-a-mentor-f54a1</string>
	<key>STORAGE_BUCKET</key>
	<string>find-a-mentor-f54a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229514994004:ios:99338a6059c94ff620e8c1</string>
	<key>DATABASE_URL</key>
	<string>https://find-a-mentor-f54a1-default-rtdb.firebaseio.com</string>
</dict>
</plist>